<div class="card card-success">
    <div class="card-header">
        <span id="me-name"></span>
    </div>
    <div class="card-body">
        Firstname: <span id="me-firstname"></span>
        <br>Lastname: <span id="me-lastname"></span>
        <br>Email: <span id="me-email"></span>
        <br>Created: <span id="me-created"></span>
    </div>
</div>

<script type="text/javascript">
    var json = '{{ json|raw }}';
    var data = JSON.parse(json);

    if (typeof data.user.firstname !== 'undefined') document.getElementById('me-name').innerHTML = data.user.firstname+' '+data.user.lastname;
    if (typeof data.user.firstname !== 'undefined') document.getElementById('me-firstname').innerHTML = data.user.firstname;
    if (typeof data.user.lastname !== 'undefined') document.getElementById('me-lastname').innerHTML = data.user.lastname;
    if (typeof data.user.email !== 'undefined') document.getElementById('me-email').innerHTML = data.user.email;
    if (typeof data.user.created_at !== 'undefined') document.getElementById('me-created').innerHTML = data.user.created_at;
</script>
