<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="{{ asset('plugins/adminlte/dist/img/AdminLTELogo.png') }}" alt="ClubMaster UI" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">ClubMaster UI</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{{ path('app_default_public') }}" class="nav-link">Public</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_admin') }}" class="nav-link">Admin</a>
                </li>
            </ul>
        </div>

        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    Michael Holm
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        Min profil
                    </a>
                    <a href="#" class="dropdown-item">
                        Log ud
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

