<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_default_public') }}" class="nav-link">Public</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{{ path('app_default_admin') }}" class="nav-link">Admin</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                Michael Holm
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    Min profil
                </a>
                <a href="#" class="dropdown-item">
                    Log ud
                </a>
            </div>
        </li>
    </ul>
</nav>

