<aside class="main-sidebar elevation-4 sidebar-light-primary">
    <a href="https://genex.dk" class="brand-link" target="_blank">
        <img src="{{ asset('plugins/adminlte/dist/img/AdminLTELogo.png') }}" alt="ClubMaster UI" class="brand-image img-circle elevation-1" style="opacity: .8">
        <span class="brand-text font-weight-light">ClubMaster UI</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="{{ path('app_default_public') }}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                        Public
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_admin') }}" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                        Admin
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_user') }}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                        User
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_default_users') }}" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                        Users
                        </p>
                    </a>
                </li>

                <li class="nav-header">DEV.INSPIRATION</li>
                <li class="nav-item">
                    <a target="_blank" href="https://adminlte.io/themes/v3/index3.html" class="nav-link">
                        <p>
                        AdminLTE
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a target="_blank" href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="nav-link">
                        <p>
                        Bootstrap 4.6
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a target="_blank" href="https://fontawesome.com/v5/search?q=profile&m=free" class="nav-link">
                        <p>
                        Font Awesome
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

