{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-4">
        <div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
    </div>
    <div class="col-sm-4">
        <div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
    </div>
    <div class="col-sm-4">
        <div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
    </div>
    <div class="col-sm-6">
        <div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
    </div>
</div>

<div data-widget-href="{{ path('app_widget_appointment_index') }}"></div>
{% endblock %}
