{% extends 'base.html.twig' %}

{% block body %}
<div class="alert alert-danger">Michael Holm is inactive</div>

<div class="row">
    <div class="col-md-3">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="row">
                    <div class="col-12 text-right">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#">{% trans %}Edit user{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Change Access{% endtrans %}</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}Upload Image{% endtrans %}</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" href="#">{% trans %}Sale collect{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Appointments{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Borrow{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Reminders{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Cards{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Surveys{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Finance Application{% endtrans %}</a>

                                    <a class="dropdown-item" href="#">{% trans %}Danmark (manual){% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Invoices{% endtrans %}</a>

                                    <a class="dropdown-item" href="#">{% trans %}Contracts{% endtrans %}</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item confirm-dialog" href="#">{% trans %}Checkin{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Shop as user{% endtrans %}</a>
                                    <a class="dropdown-item" href="#">{% trans %}Write Message{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <a href="#">
                        <img class="profile-user-img img-fluid img-circle" src="{{ asset('images/profile.png') }}" alt="Michael Holm">
                    </a>
                </div>

                <h3 class="profile-username text-center">
                    <a href="#">Michael Holm</a>
                </h3>
                <p class="text-muted text-center">
                <small>
                    {% trans %}Number{% endtrans %}: 10012 / Aalborg
                    <br>29/06/1984
                    ( 33 {% trans %}years{% endtrans %} )
                    <br><span class="show-masked" data-input="290684-1897">******-****</span>
                </small>
                </p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>{% trans %}Transfer{% endtrans %}</b>
                        <span class="float-right text-right">
                            <a href="#">
                                <i class="fas fa-exchange-alt"></i>
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>{% trans %}Address{% endtrans %}</b>
                        <span class="float-right text-right">
                            <a target="_blank" href="https://www.google.com/maps?q=Rohrliberg 30, 6300 Cham">
                                <i class="fas fa-map-pin"></i>
                                Rohrliberg 30
                            </a>
                            <br>6330 Cham
                            <br>Switzerland
                        </span>
                    </li>
                    <li class="list-group-item">
                        <b>{% trans %}Contact{% endtrans %}</b>
                        <span class="float-right text-right">
                            <a title="{% trans %}Write SMS{% endtrans %}" href="#">
                                0045 60227774
                            </a>
                            <br>
                            info@clubmaster.org
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card bg-warning">
            <div class="card-header">
                Sticky Note
                <div class="card-tools">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">{% trans %}show{% endtrans %}</a>
                            <a class="dropdown-item" href="#">{% trans %}edit{% endtrans %}</a>
                            <a class="dropdown-item" href="#">{% trans %}turn normal{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p>This is a great note, remember this!!</p>
            </div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header text-center">
                {% trans %}Description{% endtrans %}
            </div>
            <div class="card-body">
                This is a description of this user &#60;3
            </div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header text-center">
                {% trans %}Overview{% endtrans %}
            </div>
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <p><span class="h4 text-green">{% trans %}Active{% endtrans %}</span></p>
                        <small class="text-muted">{% trans %}Customers status{% endtrans %}</small>
                        <br><small><a data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}change status{% endtrans %}</a></small>
                    </div>

                    <div class="col-sm-4">
                        <p><span class="h4 text-red">{% trans %}Consent{% endtrans %}</span></p>
                        <small class="text-muted">{% trans %}Consents not given{% endtrans %}</small>
                        <br><small><a data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}change status{% endtrans %}</a></small>
                    </div>

                    <div class="col-sm-4">
                        <p><span class="h4 text-blue">Danmark</span></p>
                        <small class="text-muted">{% trans %}Not asked{% endtrans %}</small>
                        <br><small><a data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}change status{% endtrans %}</a></small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-primary card-outline">
            <div class="card-header text-center">
                {% trans %}Account Balance{% endtrans %}
            </div>
            <div class="card-body text-center">
                <p class="h3">Balance 100kr</p>

                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#modal-remote">{% trans %}Pay Account Balance / Deposit{% endtrans %}</a>
                <a target="_blank" class="btn btn-primary" href="#">
                    <i class="fas fa-print"></i>
                    {% trans %}Print{% endtrans %}
                </a>
            </div>
        </div>

        <div class="card card-success card-outline">
            <div class="card-header text-center">
                {% trans %}Loyalty Balance{% endtrans %}
            </div>
            <div class="card-body text-center">
                <p class="h3">
                <a href="#">
                    Balance 100 kr
                </a>
                </p>
            </div>
        </div>

    </div>

    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-0 text-right">
                <nav class="navbar">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link" href="#optics" data-toggle="tab" data-href="#">{% trans %}Overview{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab" data-href="#">{% trans %}Timeline{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#partnercard" data-toggle="tab" data-href="#">{% trans %}Partner Card{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#task" data-toggle="tab" data-href="#">{% trans %}Tasks{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#sale" data-toggle="tab" data-href="#">{% trans %}Sales{% endtrans %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="#subscription" data-toggle="tab" data-href="#">{% trans %}Subscriptions{% endtrans %}</a></li>
                    </ul>

                    <ul class="nav nav-pills text-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Clinical Records / Notes{% endtrans %}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">{% trans %}Create Eye Test{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Create Contact Lens Test{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Create audio journal{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Create glass order{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Create Contact Lens order{% endtrans %}</a>
                                <a class="dropdown-item" href="#">{% trans %}Create Optic Reference{% endtrans %}</a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" target="_blank">{% trans %}Print Partnercard{% endtrans %}</a>
                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}Create Note{% endtrans %}</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#modal-remote" href="#">{% trans %}Upload Media{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="user-content-box">
                <div class="card-body">
                    <a href="#" class="btn btn-sm btn-primary">Posteringer</a>
                    <a href="#" class="btn btn-sm btn-primary">Betalinger</a>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Kvittering</th>
                                <th>Ordrenr.</th>
                                <th>Betalt</th>
                                <th>Kunde</th>
                                <th class="text-right">Salg total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span title="46570">59</span></td>
                                <td>7</td>
                                <td>
                                    17/05/2022, 20.37
                                    <br>
                                    <span class="badge badge-primary">Processed</span>
                                </td>
                                <td>
                                    <a href="#">Christine Hathazi</a>
                                    <br>
                                    <small>
                                        Zug | 17/05/2022, 20.36
                                    </small>
                                </td>
                                <td class="text-right">
                                    100.00 DKK
                                </td>
                                <td class="text-right">
                                    <a href="#" data-toggle="modal" data-target="#modal-remote" class="btn btn-sm btn-primary">Vis</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
