<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ClubMaster UI</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP%3Aregular%2C700%2Cregular%2C700%2C300&display=swap&ver=3.9">
        <link rel="stylesheet" href="{{ asset('plugins/adminlte/plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{ asset('plugins/adminlte/dist/css/adminlte.min.css') }}">

        <link rel="icon" href="https://i0.wp.com/genex.dk/wp-content/uploads/2022/01/cropped-ICO-Icon-Final.png?fit=192%2C192&#038;ssl=1" sizes="192x192" />
        <link rel="apple-touch-icon" href="https://i0.wp.com/genex.dk/wp-content/uploads/2022/01/cropped-ICO-Icon-Final.png?fit=180%2C180&#038;ssl=1" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="hold-transition {{ body_style is defined ? body_style }}">
        <div class="wrapper">
            {% if sidebar is defined and sidebar == true %}
            {% include "element/navbar_full.html.twig" %}
            {% include "element/sidebar.html.twig" %}

            {% else %}
            {% include "element/navbar_container.html.twig" %}
            {% endif %}

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container{{ sidebar is defined and sidebar == true ? '-fluid' }}">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">{{ page_title }}</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">{{ page_title }}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="container{{ sidebar is defined and sidebar == true ? '-fluid' }}">
                        <div class="alert alert-success">
                            Im an alert!
                        </div>

                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ asset('plugins/adminlte/plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('plugins/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('plugins/adminlte/dist/js/adminlte.js') }}"></script>

        <script type="text/javascript">
            var token = 'f6f9996e-3870-4802-87e6-7f213b7a2716';
        </script>
        <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
